.cart {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border: 1px solid gray;

    .cart--container{
        .shipping-address {
            order: 1;
            display: flex;
            flex-direction: column;
            background-color: white;
    
            h2 {
                margin-block: 5px;
            }
    
    
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                input {
                    padding: 1em;
    
                }
    
                .location {
                    display: flex;
                    gap: 10px;
                    .city{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
    
                    .state {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        select {
                            padding: 1em;
                        }
                    }
                }
            }
        }


        .payment-method{
            background-color: white;
            ordeR: 2;
    
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            h2 {
                margin-block: 0;
            }
    
            .methods {
                display: flex;
                justify-content: space-between;
    
    
                .method {
                    width: 100px;
                    height: 80px;
                    border: 1px solid gray;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    margin: 0 10px;
                    cursor: pointer;
    
                }
                .card {
                    background-color: black;
                    color: white;
                }
            }
    
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                input {
                    padding: 1em;
                }
    
                .expiry-cvv {
                    display: flex;
                    flex-direction: column;
                    .yy {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        select {
                            padding: 1em;
                            width: 100%;
                        }
                    }
                }
            }
        }


    }


    .order-summary {
        order: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        h2 {
            text-align: center;
            margin-bottom: 40px;
        }


        .order-summery-container {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            img {
                width: 130px;
                background-color: lightgray;
                border-radius: 10px;
                margin-right: 10px;
            }

            .desc {
                h3 {
                    margin-bottom: 0;
                }

                p {
                    margin-top: 5px;
                }
            }
        }

        .summary {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        button {
            padding: 1em;
            color: white;
            background-color: black;
            width: 80%;
            align-self: center;
            margin-block: 20px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    

    
}


@media (min-width: 500px) {
    .cart {
        .cart--container {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            padding: 20px;

            .shipping-address {
                width: 700px;
                padding: 20px;
                border: 1px solid gray;
                border-radius: 15px;
            }

            .payment-method {
                padding: 20px;
                border: 1px solid gray;
                border-radius: 15px;
            }

        }

        .order-summary {
            width: 480px;
            padding: 20px;
            border: 1px solid gray;
            margin: 0px 20px;
            border-radius: 15px;
        }
    }
}