* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  margin: 0 auto;
}

.app {

  max-width: 500px;
  background-color: lightgray;
  border: 1px solid white;
}

/* * {
  border: 1px solid red;
} */
@media (min-width: 500px) {
  .app {
    max-width: 1000px;
  }
}